<div ng-controller="splatDev.DefaultValue.Controller as vm" class="default-value">
    <div ng-if="vm.dValue !== null" class="default-value__value">{{ vm.value || vm.dValue }}</div>
    <small ng-if="vm.dValue !== null" class="default-value__note">
        <span ng-if="vm.value && vm.value !== vm.dValue">Set on this page. The data type's default is {{ vm.dValue }}.</span>
        <span ng-if="!vm.value || vm.value === vm.dValue">From the data type's default.</span>
    </small>
    <div ng-if="vm.dValue === null" class="default-value__unset">
        No default is set on this data type.
    </div>
</div>
